@import '~reset-css/less/reset.less';

@import '~src/common.blocks/imports/media.less';
@import "imports/font-face/font-face.less";


html {
  font-size: 10px;
  font-family: 'HelveticaNeueCyr', sans-serif;

  @media @under-lg {
    font-size: 8px;
  }
}

body {
  overflow-x: hidden;
}

button {
  all: unset;
}
