@import '~reset-css/less/reset.less';

@import '~src/common.blocks/imports/media.less';
@import "imports/font-face/font-face.less";

@import "./section/section";

@import "./wrapper/_section-content/wrapper_section-content";
@import "./wrapper/_market-table/wrapper_market-table";

@import "./button/button";
@import "./button/_theme_light-main/button_theme_light-main";
@import "./button/_theme_light/button_theme_light";
@import "./button/_theme_action/button_theme_action";
@import "./button/_theme_action-main/button_theme_action-main";

@import "./card/_theme_article-preview/card_theme_article-preview";
@import "./card/_theme_default/card_theme_default";
@import "./card/_theme_subject-features/card_theme_subject-features";

@import "./trend-chart/trend-chart";
@import "./trend-chart/_theme_medium/trend-chart_theme_medium";
@import "./trend-chart/_theme_mini/trend-chart_theme_mini";

@import "./hint/hint";
@import "./hint/_theme_default/hint_theme_default";

@import "./table/table";
@import "./table/_theme_market/table_theme_market";

@import "./title/_theme_section/title_theme_section";

html {
  font-size: 10px;
  font-family: 'HelveticaNeueCyr', sans-serif;

  @media @under-lg {
    font-size: 8px;
  }
}

body {
  overflow-x: hidden;
}

button {
  all: unset;
}
