.section_identity-verification {
  .headline {
    margin-bottom: 4rem;
    margin-right: auto;
  }

  .wrapper_cards {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    padding-left: 6.6rem;

    .card:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  .card {
    display: flex;
    align-items: center;
  }

  .card__image-wrapper {
    padding-right: 1.8rem;
  }

  .card__title {
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 1.1;
    color: #EDBD41;
  }

  .card__description {
    font-size: 1.8rem;
    line-height: 1.1;
    color: #333333;
    opacity: 0.5;
  }
}
