@import '~src/common.blocks/imports/media.less';

.page_exchange {
  color: #000;
  background-color: #F7F7F7;

  .section_preface {
    margin-bottom: 5.3rem;
  }

  .section_market-table {
    padding-bottom: 8rem;
  }

  .section_full-features {
    padding-bottom: 4rem;
  }

  .section_terminal-overview {
    padding-bottom: 8rem;
    padding-top: 8rem;
  }

  .section_portfolio-short-overview {
    margin-bottom: 8rem;
  }

  .section_sub-account-overview {
    padding-bottom: 10.4rem;
  }

  .section_referral-program-overview {
    padding-bottom: 8rem;
  }

  .section_kyc-identity-wrapper {
    padding: -1rem -1rem 0;

    & > .wrapper_section-content {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .section_kyc-overview {
    flex: 3;
    margin-bottom: 4rem;
    margin-right: 1rem;
    padding-bottom: 6.1rem;

    .wrapper_section-content {
      padding: 0;
    }
  }

  .section_identity-verification {
    flex: 2;
    margin-bottom: 4rem;

    .wrapper_section-content {
      padding: 0;
    }
  }

  .section_trading-signals {
    margin-bottom: 5.8rem;
  }

  .section_trend-chart-overview {
    padding-top: 7.7rem;
    padding-bottom: 7rem;
  }

  .section_mobile-app-overview {
    padding-top: 13.1rem;
    padding-bottom: 13rem;
  }

  .section_download-client-app {
    padding-top: 3.5rem;
    padding-bottom: 7.9rem;
  }
}
