@import '~src/common.blocks/imports/media.less';

.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4rem;
  background: #3F3F3F;

  .wrapper_section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar__logo {
    margin-right: auto;
  }
}
