.section_trend-chart-overview {
  background: #262626;

  .headline .title {
    margin-bottom: 4.2rem;
    color: #FFFFFF;
  }

  .wrapper_trend-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -2rem -1.35rem;

    .trend-chart {
      margin: 2rem 1.35rem;
    }
  }
}
